<form>
    <style>
        label{
            text-align:left;
            display: inline-block;
            width:100px;
            margin-bottom: 20px;
        }
        button{
            text-align: center;
            display: inline-block;
            width:100px;
            margin-right: 10px;
            margin-left: 40px;
        }
        div{
            text-align: center;
        }
    </style>
  <div>
    <h2>AddTask</h2>
    <br>
    <label for="taskname"><b>Task Name </b> </label>
    <input type="text" placeholder="Enter Your TaskName" name="name" id="TaskName">
    <br>
    <button>Submit</button>
    <button>Reset</button>
    </div>
  </form>